.input-container{
    position: relative;
    width: 98%;
    margin: auto;
}
input{
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 30px;
}
input:focus{
    outline: none;
}
.input-icon{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.input-icon:hover{
    cursor: pointer;
}